body {
    background: linear-gradient(#000326);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
}
img,
picture,
video {
  max-width: 100%;
  /*This ensures that media is never bigger than it's respective container*/
}

/*Classes*/
.majorTitle{
    color: yellow;
    text-shadow:3vw;
    text-align: center;
}
.minorTitle{
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    margin: auto;
}
.navigationBar{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;  
  gap: 2%;
  font-size: 20px;
  text-align: center;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  @media (min-width: 1200px) {
      .navigationBar {
        font-size: 4rem;
      }
    }
}
img{
    size:100%
}
.navigationButton{
    color:  whitesmoke;
    text-decoration: none;
    cursor: pointer;
    padding: 3;
    border-radius: 20px;
}
.navigationButton:hover{
    color:  #00064c;
    background-color: #ffffff;
}
.highlightedButton{
    background-color: black;
    color: yellow;
    border-radius: 20px;
}
.doubleColumn{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15%;
    margin-right: 15%;
    gap: 2%;
}
.titleWithCard{
    display: grid;
    grid-template-rows: 12em auto auto;
    margin-left: 15%;
    margin-right: 15%;
    gap: 2%;
}