body {
    background: linear-gradient(#000326);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
}
/*Classes d5b66a*/
.majorTitle{
    color: yellow;
    text-shadow:3vw;
}
.navigationBar{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;  
  font-size: 20px;
  text-align: center;
  @media (min-width: 1200px) {
      .navigationBar {
        font-size: 4rem;
      }
    }
}
.highlightedButton{
    background-color: whitesmoke;
    color: #000326;
    border-radius: 10px;
}